.venv/
.ipynb_checkpoints/
*.keras
model_mn2.ipynb
hasil_mn2/
hasil_resnet/
kode/
work/
data_test_video/
results/
hasil/
oke/
k/
best_model.keras
hasil_resnet_8/
hasil_resnet_64/
Data_Video_Bayi/data_new.zip
*.zip
eairh/